---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBWwZfjqndTl9pxD9PMManehObCeBh1VKGeTqBNpzzRyW2L4sZG23k1T5YnGBgRiqUKKwL3Z2+rUYtITT7yPBR0kfFPXTRHAV7zm76CewkfN6jQ3JaplziHP169qyrH+OF+jEL9YvKL/HZEuNo5ufWtPxXIFgMpW4ZsUU8vvZQUSEu9aBSCwH7l7irN8Z2C3exzW+L9mr0Viys/BuLvaGhiB384sMacDiMuNcfsm53hsn68PZexL81gHcJ2mNYA8I6ox/YlJdwy/9F79T9KhZhlEIWEqqpjqKJqV20IGrw1MbumuPwNXfr8ERFmxTUsbzapDKaARncP9iUY+RxscSHD5DD5fLmiagjAj8MW3qT30sSGVcuYr6dKLt7C1gAQ5WTunCzgyAy5N+ACRLlnf5CQaqApEiye2cVe4uv9e9oW5jUbkG0i8YYHN28ibrKbv332igYisXLkmeVxoC8SqZTQQoDbMbRAGgoKzObrTDJl6Ct93ZROP/ut09pm5lsbqcC1IeV0Upk9W2n1ocUDlBs/4KI/C6wRauxtlZz2NVQ7IcQeBAaW1QNs7DK8dUBI2m47JZrkJJjw9OlVMhLNA5XamBL2C1ExirbKdzgiLw8zpwhODy3OMYkyg6PgqNZaRAz9ysdrjOf8eRM9WAHhMe/2hpEFge2kigLf2OnqwKBrS93tdQ+u2F1EeiDzGEEtjJ86idTLK1TcqTXvJxW6/4UixuLygKWtKEeMBhaqRljOf7poOOofvOCP
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
