---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBrP0Y5ciSPacq2rIdOB4GzMT8hbByIrDV/aG/Uy7J3HRv9Ev3qoOXp1PnINYdD+PUEHvWguMatxgXq7OAYmt1hS5Yd8x7mtgOjhV8Im2WAODNwWMdyAC49qLHOGSMj9A7udLhj81/cXBFy7dk/ryPIHY6uSBUv6uxw66phZb2w/8AvzWcOW1CnIjnf5jnUnzzQvZmT6bUnWdPNbKM2qQocPiBhXtVDlh7v+YEAuPPb3YWmpCfJvm8X6uqynziB3OBOPkqcjMrakIuX91DT+ess3ui4pj9C71zmKV1nm99aLcav7Ms56QvxQjxwMuG4PUF/JWbam7pG+emfEj1M1my4cLEZ7QO1Bcae2pfwa/bmbBgcNVvWjx2jf7t+yc1azcy9051ssDxYrhp7kBgyVkd7xLKZ8r93Ozt9J1raX75nSIPmEb4QnOWhBcBb2Cs/9mj4Luc9ncV3ZsiduChh4KMzCLf+BSP1bsQKs01YLAW1swMTqKLHdWfDe3owqjO++GK3jhWXZcamCg8FFmOw4v55BrvvdRBzfqsDuk+6KXZKEXJsI4geh2bBXSjRzN0bgy0qo7NhL4Cv774bth3i9C90YZyHOI7n2u3WhdXcs1YfQEkKG9LcjuCcNAChPQjwGPbfybiR5FNHod93+DwpLWNd84jytoFiPewuVTvJOxXjJg8CcFGQTasJNIIkCHKspfpUd3bO+uIWPGyi8QZ80V9WxfTMU8P+1+2CkoyEwssvRFLvwSE2vehl
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
